body {
    margin: 0;
    padding: 0;
    font-family: "BlenderPro-Bold";
    background-color: #221424;
    overflow: hidden;
}

/* ---------------------------------------------- Navbar */

nav {
    background-color: #0e232f;
}

.nav-wrapper a {
    margin-right: 25px;
    margin-left: 25px;
    font-size: 18px;
}

.brand-logo img {
    width: 50px; 
    height: 55px; 
    margin-top: 5px;
}

.sidenav {
    background-color: #0e232f;
}

.sidenav li a {
    font-size: 20px;
    color: white;
}

#closeSideNav i {
    color: white;
}

#closeSideNav a {
    padding: 0;
    margin: 0;
}

.sidenav-overlay {
    top: 64px;
}

#desktop-profile {
    top: -64px;
    left: -15px;
    background-color: #0e232f;
    width: 150px;
}

#desktop-profile li a {
    font-size: 18px;
    padding: 5px 0;
    color: #00e5ff;
}

#desktop-profile li:hover,
#desktop-profile a:hover,
#desktop-profile li:focus,
#desktop-profile a:focus {
    background-color: #0e232f;
    color: purple;
}

/* ---------------------------------------------- Custom Side Nav */

/*
The following code is based upon this source: 
"https://www.w3schools.com/cssref/pr_class_display.asp"
*/

.my-sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #0e232f; 
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 10;
}

.my-sidenav li {
    font-size: 20px;
    text-align: left;
    padding: 10px 25px;
    border-bottom: 1px solid rgb(255 255 255 / 50%);
}

.my-sidenav li a {
    color: #00e5ff;
}

/* ---------------------------------------------- Hamburger Icon */

/*
The following code is based upon this source: 
"https://codepen.io/designcouch/pen/Atyop"
*/

#hamburger {
    width: 50px;
    height: 25px;
    position: relative;
    margin: 15px auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

#hamburger span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
    top: 0px;
}

#hamburger span:nth-child(2) {
    top: 14px;
}

#hamburger span:nth-child(3) {
    top: 28px;
}

#hamburger.open span:nth-child(1) {
    top: 18px;
    transform: rotate(135deg);
}

#hamburger.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#hamburger.open span:nth-child(3) {
    top: 18px;
    transform: rotate(-135deg);
}

/* ---------------------------------------------- Hero background video */

#heroBg {
    position: relative;
}

.hero-vid {
    width: 100vw;
}

/* ---------------------------------------------- Homepage title */

.title {
    position: absolute;
    width: 100%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    z-index: 1;
    line-height: 50px;
}

.back-font {
    font-family: "Cyberspace Raceway Back", sans-serif;
    font-size: 80px;
    color: black;
    margin-left: 10px;
    margin-bottom: 10px;
}

.front-font {
    font-family: "Cyberspace Raceway Front", sans-serif;
    font-size: 75px;
    color: white;
    letter-spacing: 5px;
}

/* ---------------------------------------------- Games carousel */

.carousel {
    height: 100%;
}

.carousel-item img {
    max-height: 600px;
}

.carousel-fixed-item .card-panel {
    width: 200px;
    margin: 0 auto;
}

.carousel-title {
    font-family: "BlenderPro-Heavy", sans-serif;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* ---------------------------------------------- Games (secondary) navbar */

.secondary-nav {
    width: 95%;
    margin: auto;
    background-color: #442c4c;
}

.secondary-nav a {
    font-size: 16px;
    margin: 2px;
}

.secondary-nav input#search {
    width: 200px;
    margin-right: 50px;
}

/* ---------------------------------------------- Register page */

.account-title {
    text-transform: uppercase;
}

.account-form p {
    font-size: 18px;
}

@media(min-height: 1090px) {
    .account-form {
        margin-top: 15vh;
    }
}


/* ---------------------------------------------- Profile */

@media(min-width: 601px) {
    .profile-header {
        display: flex;
    }
    .rank {
        position: relative;
    }
    .rank h5 {
        position: absolute; 
        bottom: 20px; 
        right: 5px;
    }
    ul li {
        text-align: right;
        margin: 5px 0;
    }
}

@media(max-width: 601px) {
    .profile-header {
        text-align: right;
    }
    .profile-header h2 {
        font-size: 36px;
    }
    .rank h5 {
        font-size: 15px;
    }
    ul li {
        display: inline;
        text-align: center;
    }
    #firstItem {
        margin-left: 8.3333333333%;
    }
}

@media(max-width: 385px) {
    ul .row li {
        display: list-item;
        width: 100% !important;
        text-align: right;
        margin: 5px 0;
    }
    #firstItem {
        margin-left: 0;
    }
}

/* ---------------------------------------------- Global */

.py-5 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.flashes {
    line-height: 2;
}

/* ---------------------------------------------- Media Queries */

@media (max-width:905px) {
    .nav-wrapper a {
        margin-right: 0;
        margin-left: 0;
    }
    .title {
        margin-top: 250px;
    }    
    .back-font {
        font-size: 60px;
    }
    .front-font {
        font-size: 55px;
    }
}

@media (max-width:640px) {
    .back-font {
        font-size: 50px;
    }
    .front-font {
        font-size: 45px;
    }
}

@media (max-width:540px) {
    .back-font {
        font-size: 40px;
    }
    .front-font {
        font-size: 35px;
    }
}

@media (max-width: 415px) {
    /* To fix unmatched width with front face */
    .back-font {
        letter-spacing: 1px;
    }
}