body {
    margin: 0;
    padding: 0;
    font-family: "BlenderPro-Bold";
    background-color: #221424;
    overflow: hidden;
}

/* ---------------------------------------------- Navbar */

nav {
    background-color: #0e232f;
}

.nav-wrapper a {
    margin-right: 25px;
    margin-left: 25px;
    font-size: 18px;
}

.brand-logo img {
    width: 50px; 
    height: 55px; 
    margin-top: 5px;
}

.sidenav {
    background-color: #0e232f;
}

.sidenav li a {
    font-size: 20px;
    color: white;
}

#closeSideNav i {
    color: white;
}

#closeSideNav a {
    padding: 0;
    margin: 0;
}

/* ---------------------------------------------- Hero background video */

#heroBg {
    position: relative;
}

.hero-vid {
    width: 100vw;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 99.5%;
    width: 100%;
    background-color: #212529;
    opacity: .5;
}

/* ---------------------------------------------- Homepage title */

.title {
    position: absolute;
    width: 100%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    z-index: 1;
    line-height: 50px;
}

.back-font {
    font-family: "Cyberspace Raceway Back", sans-serif;
    font-size: 80px;
    color: black;
    margin-left: 10px;
    margin-bottom: 10px;
}

.front-font {
    font-family: "Cyberspace Raceway Front", sans-serif;
    font-size: 75px;
    color: white;
    letter-spacing: 5px;
}

/* ---------------------------------------------- Media Queries */

@media (max-width:905px) {
    .nav-wrapper a {
        margin-right: 0;
        margin-left: 0;
    }
    .title {
        margin-top: 250px;
    }    
    .back-font {
        font-size: 60px;
    }
    .front-font {
        font-size: 55px;
    }
}

@media (max-width:640px) {
    .back-font {
        font-size: 50px;
    }
    .front-font {
        font-size: 45px;
    }
}

@media (max-width:540px) {
    .back-font {
        font-size: 40px;
    }
    .front-font {
        font-size: 35px;
    }
}

@media (max-width: 415px) {
    /* To fix unmatched width with front face */
    .back-font {
        letter-spacing: 1px;
    }
}