{% extends "games_template.html" %}

{% block content %}
    
    <!-- Games -->
    <section>
        <div class="row">
            <!-- Game 1 -->
            <div class="col m12 l5 offset-l1" id="gameCard1">
                <div class="card-panel">
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1174180/header.jpg" alt=""
                                class="responsive-img activator">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <div class="card-title activator">
                                    <span>
                                        Game Title
                                    </span>
                                    <i class="material-icons right">more_vert</i></span>
                                </div>
                                <p class="grey-text">
                                    Windows
                                </p>
                                <p class="grey-text">
                                    XBOX, Playstation
                                </p>
                                <p class="grey-text">
                                    Action, Adventure
                                </p>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title">
                                <strong>Game Title</strong>
                                <i class="material-icons right">close</i>
                            </span>
                            <p>
                                Here is some more information about
                                this product that is only revealed once clicked on.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Game 2 -->
            <div class="col m12 l5" id="gameCard2">
                <div class="card-panel">
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/261550/header.jpg" alt=""
                                class="responsive-img activator">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <div class="card-title activator">
                                    <span>
                                        Game Title
                                    </span>
                                    <i class="material-icons right">more_vert</i></span>
                                </div>
                                <p class="grey-text">
                                    Windows
                                </p>
                                <p class="grey-text">
                                    Action, RPG, Simulation, Strategy, Early Access
                                </p>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i
                                    class="material-icons right">close</i></span>
                            <p>
                                Here is some more information about
                                this product that is only revealed once clicked on.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}