{% extends "base.html" %}
{% block content %}
    
    <div class="row admin-form">
        <div class="card-panel col s12 m10 offset-m1 l6 offset-l3 blue-grey darken-4 grey-text text-lighten-2">
            <!-- Logo -->
            <div class="col s12 center-align">
                <img src="{{ url_for('static', filename='img/main/odin_logo.png') }}" alt="Website brand logo">
            </div>
            <!-- Title -->
            <h3 class="text-lighten-1 account-title center-align">User Game Requests</h3>
            <p class="center-align" id="importantNotice">
                Please review the <a href="#">Terms and Conditions</a> before any changes are made
            </p>
    
            <!-- Sort nav and pagination -->
            <section id="sort-and-pagination-nav">
                <div class="row">
                    <!-- Pagination -->
                    <div class="col s12 m6">
                        <div class="pagination-top">
                            <ul class="pagination">
                                {% block pagination %}
                                {% endblock %}
                            </ul>
                        </div>
                    </div>
                    <!-- Sort by features -->
                    <div class="col s12">
                        <div class="sort-by right">
                            <!-- Select labels -->
                            <ul class="tabs tabs-transparent" id="sortNav-label">
                                <li class="tab" id="nav1">
                                    <a>
                                        <label for="navSelect1">Sort By</label>
                                    </a>
                                </li>
                                <li class="tab" id="nav2">
                                    <a>
                                        <label for="navSelect2">Order</label>
                                    </a>
                                </li>
                            </ul>
                            <!-- Select options -->
    
                            <form action="{{ url_for('admin_user_requests') }}" method="POST">
                                <ul class="tabs tabs-transparent" id="sortNav">
                                    <li class="tab">
                                        <a>
                                            <select class="browser-default" name="navSelect1" id="navSelect1"
                                                value="{{ navSelect1 }}">
                                                <option value="default" {% if navSelect1=="default" %} selected="selected"
                                                    {% endif %}>Default</option>
                                                <option value="title" {% if navSelect1=="title" %} selected="selected" {%
                                                    endif %}>Title</option>
                                                <option value="date" {% if navSelect1=="date" %} selected="selected" {%
                                                    endif %}>Date</option>
                                                <option value="user-count" {% if navSelect1=="user-count" %} selected="selected"
                                                    {% endif %}>User Count</option>
                                            </select>
                                        </a>
                                    </li>
                                    <li class="tab">
                                        <a>
                                            <select class="browser-default" name="navSelect2" id="navSelect2"
                                                value="{{ navSelect2 }}">
                                                <option value="asc" {% if navSelect2=="asc" %} selected="selected" {% endif
                                                    %}>Asc</option>
                                                <option value="desc" {% if navSelect2=="desc" %} selected="selected" {%
                                                    endif %}>Desc</option>
                                            </select>
                                        </a>
                                    </li>
                                    <li class="tab">
                                        <a style="line-height: 10px;">
                                            <button type="submit" class="btn" id="filterBtn">Filter Results</button>
                                        </a>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
    
            <!-- User game requests -->
            <div class="card-panel" style="background-color: #0e232f;">
                <div class="row">
                    {% for request in user_requests %}
                    <h5>{{ request.game_request }}</h5>
                    <p>User Count: {{ request.requested_by|length }}</p>
                    <div class="divider"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}