{% extends "base.html" %}
{% block content %}
    
    <div class="row admin-form" id="userRequests">
        <div class="col s12 m10 offset-m1 l6 offset-l3">
            <!-- Game requests queue -->
            <div class="card-panel blue-grey darken-4 grey-text text-lighten-2">
                <!-- Logo -->
                <div class="col s12 center-align">
                    <img src="{{ url_for('static', filename='img/main/odin_logo.png') }}" alt="Website brand logo">
                </div>
                <!-- Title -->
                <h3 class="text-lighten-1 account-title center-align">Game Queue</h3>
                <p class="center-align" id="importantNotice">
                    These games are waiting to be added to the site.
                    To add them, <a href="{{ url_for('admin_update_db') }}">Update The Database</a>
                    <br>
                    To add games to the queue, click the add button next to the game title on the <a href="{{ url_for('admin_user_requests') }}">User Requests page</a>
                </p>
        
                <!-- User game requests -->
                <div class="card-panel" id="gameRequests-card">
                    {% if games.count() == matches|length %}
                        <h5 class="center-align">No Games Waiting in Queue</h5>
                    {% endif %}
                    {% for game in games %}
                        <h5>{{ game.game_title }}</h5>
                        <h6>{{ game.game_link }}</h6>
                        <p>Categories: <strong>{{ game.category|join(', ') }}</strong></p>
                        <div class="divider"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}