{% extends "base.html" %}
{% block content %}
<div class="row admin-form" id="userRequests">
	<div class="col s12 m10 offset-m1 l6 offset-l3">
		<div class="card-panel blue-grey darken-4 grey-text text-lighten-2" id="userRequests-outerCard">
			<!-- Logo -->
			<div class="col s12 center-align">
				<img src="{{ url_for('static', filename='img/main/odin_logo.png') }}" alt="Website brand logo">
			</div>
			<!-- Title -->
			<h3 class="text-lighten-1 account-title center-align">User Game Requests</h3>
			<p class="center-align" id="importantNotice">
				Below is a list of all game requests submitted by users. Games waiting in the queue, are listed <a href="{{ url_for('admin_game_queue') }}">here</a>
				<br>
				If games have already been added, then please remove them. Games that are already added will not be listed in the <a
					href="{{ url_for('admin_game_queue') }}">Game Queue</a>
				<br>
				<br>
				Please review the <a href="#">Terms and Conditions</a> before any changes are made
			</p>
			<!-- Sort nav and pagination -->
			<section id="sort-and-pagination-nav">
				<div class="row">
					<!-- Sort by features -->
					<div class="col s12 m12 l8">
						<form action="{{ url_for('set_user_requests_cookies') }}" method="POST" class="right">
							<ul class="tabs tabs-transparent" id="sortNav">
								<li class="tab">
									<label class="white-text" id="sortBy-label">Sort By</label>
									<select class="browser-default" name="userRequestsSort1" id="userRequestsSort1"
										value="{{ userRequestsSort1 }}">
									<option value="title" {% if userRequestsSort1=="title" %} selected="selected" {%
									endif %}>Title</option>
									<option value="date-added" {% if userRequestsSort1=="date-added" %} selected="selected" {%
									endif %}>Date Added</option>
									<option value="date-last-requested" {% if userRequestsSort1=="date-last-requested" %} selected="selected" {%
									endif %}>Recent Requests</option>
									<option value="user-count" {% if userRequestsSort1=="user-count" %} selected="selected"
									{% endif %}>User Count</option>
									</select>
								</li>
								<li class="tab">
									<label class="white-text" id="order-label">Order</label>
									<select class="browser-default" name="userRequestsSort2" id="userRequestsSort2"
										value="{{ userRequestsSort2 }}">
									<option value="asc" {% if userRequestsSort2=="asc" %} selected="selected" {% endif
									%}>Asc</option>
									<option value="desc" {% if userRequestsSort2=="desc" %} selected="selected" {%
									endif %}>Desc</option>
									</select>
								</li>
								<li class="tab">
									<button type="submit" class="btn" id="filterBtn">Filter</button>
								</li>
							</ul>
						</form>
					</div>
				</div>
			</section>
			<!-- User game requests -->
			<div class="card-panel" id="gameRequests-card">
				{% for request in user_requests %}
				<div class="row">
					<div class="col s12 m12 l8">
						<div class="row">
							<!-- Game request title -->
							<div class="col s12">
								<h5>{{ request.game_request }}</h5>
								{% if request.game_link in matches %}
								<span>[Waiting in Queue]</span>
								{% endif %}
							</div>
							<!-- User count -->
							<div class="col s12">
								<p>User Count: {{ request.requested_by|length }}</p>
							</div>
						</div>
					</div>
					<div class="col s12 m12 l4">
						<div class="col s6 m4 l6 btns">
							<!-- Add to Queue -->
							<a href="#userRequest-addToQueue{{loop.index}}" class="btn modal-trigger">
							<i class="fas fa-plus-circle"></i>
							</a>
						</div>
						<div class="col s6 m4 l6 btns">
							<!-- Delete -->
							<a href="{{ url_for('admin_remove_request', request_id=request._id) }}" class="btn">
							<i class="fas fa-trash"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="divider"></div>
				<!-- Modal -->
				<div id="userRequest-addToQueue{{loop.index}}" class="modal modal-fixed-footer center-align delete-review">
					<!-- Content -->
					<form action="{{ url_for('admin_add_to_queue', request_id=request._id) }}" method="POST">
						<div class="modal-content white-text">
							<h4>Add <span>"{{ request.game_request }}"</span> To Queue?</h4>
							<h6>
								Please review the <a href="#">Terms and Conditions</a> before any changes are made.
							</h6>
							<h6>
								You can see the view the game on the <a href="{{ request.game_link }}" target="_blank">Steam Store</a> if you need help on what category to assign it to.
							</h6>
							<!-- Game category -->
							<div class="row py-5">
								<div class="input-field col s10 offset-s1">
									<select id="category{{loop.index}}" name="category" multiple required>
										<optgroup label="Genre">
											<option value="action">Action</option>
											<option value="adventure">Adventure</option>
											<option value="RPG">RPG</option>
											<option value="strategy">Strategy</option>
											<option value="multiplayer">Multiplayer</option>
										</optgroup>
										<optgroup label="Other">
											<option value="bestseller">Bestseller</option>
											<option value="favourite">Favourite</option>
										</optgroup>
									</select>
									<label for="category{{loop.index}}" style="font-size: 15px;">Game Category</label>
								</div>
							</div>
							<!-- Password -->
							<div class="row">
								<div class="input-field col s10 offset-s1">
									<input id="password{{loop.index}}" name="password" type="password" minlength="6"
										maxlength="15" pattern="^[a-zA-Z0-9]{6,15}$" class="validate" required>
									<label for="password{{loop.index}}">Password</label>
								</div>
							</div>
							<!-- Confirm Password -->
							<div class="row">
								<div class="input-field col s10 offset-s1">
									<input id="confirmPassword{{loop.index}}" name="confirmPassword" type="password" minlength="6"
										maxlength="15" pattern="^[a-zA-Z0-9]{6,15}$" class="validate" required>
									<label for="confirmPassword{{loop.index}}">Confirm Password</label>
								</div>
							</div>
						</div>
						<!-- Action buttons -->
						<div class="modal-footer center-align">
							<a href="{{ url_for('admin_user_requests') }}" class="modal-close btn-flat">
							No, Cancel
							</a>
							<button type="submit" class="modal-close btn-flat">
							Yes, Add To Queue
							</button>
						</div>
					</form>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}