{% extends "base.html" %}
{% block content %}
    
    <div class="row admin-form" id="userRequests">
        <div class="col s12 m10 offset-m1 l6 offset-l3">
            <!-- Game requests queue -->
            <div class="card-panel blue-grey darken-4 grey-text text-lighten-2">
                <!-- Logo -->
                <div class="col s12 center-align">
                    <img src="{{ url_for('static', filename='img/main/odin_logo.png') }}" alt="Website brand logo">
                </div>
                <!-- Title -->
                <h3 class="text-lighten-1 account-title center-align">Game Queue</h3>
                <p class="center-align" id="importantNotice">
                    These games are waiting to be added to the site.
                    To add them, <a href="{{ url_for('admin_update_db') }}">Update The Database</a>
                </p>
        
                <!-- User game requests -->
                <div class="card-panel" id="gameRequests-card">
                    {% if admin_game_links.count() == matches|length %}
                        <h5 class="center-align">No Games Waiting in Queue</h5>
                    {% endif %}
                    {% for waiting_game, title in admin_game_links|zip(titles) %}
                        {% if not waiting_game.link in matches %}
                            <h5>{{title}}</h5>
                            <h6>{{ waiting_game.link }}</h6>
                            <p>Categories: <strong>{{ waiting_game.category|join(', ') }}</strong></p>
                            <div class="divider"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}