<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" type="text/css" 
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- Materialize CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom_fonts.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>my Next Game</title>
</head>
<body>
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="{{ url_for('home') }}" class="brand-logo center">
                        <img src="static/img/odin_logo.png" alt="Website/navbar brand logo">
                    </a>
                    <a href="#" data-target="mobile-nav-profile" class="sidenav-trigger right" 
                    style="margin-right:20px;">
                        <i class="fas fa-user fa-2x"></i>
                    </a>
                    <a href="#" data-target="mobile-nav" class="sidenav-trigger right" 
                    style="margin-right:25px;">
                        <i class="fas fa-bars fa-2x"></i>
                    </a>
                    <ul class="left hide-on-med-and-down">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('games') }}">Platfrom</a></li>
                        <li><a href="{{ url_for('games') }}">Genre</a></li>
                    </ul>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#">Community Reviews</a></li>
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Mobile side-navbar -->
        <ul class="sidenav" id="mobile-nav">
            <li id="closeSideNav">
                <a href="#!"><i class="fas fa-times sidenav-close right"></i></a>
            </li>
            <li><a href="{{ url_for('games') }}">Platfrom</a></li>
            <li><a href="{{ url_for('games') }}">Genre</a></li>
            <li><a href="#">Community Reviews</a></li>
        </ul>
        <!-- Profile side-nav -->
        <ul class="sidenav" id="mobile-nav-profile">
            <li id="closeSideNav">
                <a href="#!"><i class="fas fa-times sidenav-close right"></i></a>
            </li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
        </ul>
    </header>

    <!-- Flash messages -->
    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    
    {% block content %}
        <!-- Hero video background -->
        <section id="heroBg" class="valign-wrapper">
            <h1 class="center-align title back-font">myNext Game</h1>
            <h1 class="center-align title front-font">myNext Game</h1>
            <div class="col s12 ">
                <video class="hero-vid" autoplay muted loop>
                    <source src="static/video/synthwave.mp4" type="video/mp4">
                </video>
            </div>
        </section>
    {% endblock %}

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>