{% extends "games-template.html" %}

{% block searchbar %}
    <li class="right">
        <form action="{{ url_for('search_reviews') }}" method="post" id="searchbar">
            <div class="input-field">
                <i class="material-icons prefix">search</i>
                <input type="text" id="review-query" name="review-query" class="autocomplete validate" required>
                <label for="review-query">Game Title</label>
            </div>
        </form>
    </li>
{% endblock %}

{% block games %}
    
    <!-- Review button -->
    <section>
        <div class="row">
            <div class="col" style="margin-left: 12.49999999995%">
                <a href="{{ url_for('submit_review') }}" class="btn-large">Leave a Review</a>
            </div>
        </div>
    </section>

    <!-- Games -->
    <section>
        <div class="row" id="reviewCards">
            {% for review in game_reviews %}
                {% if loop.index0 % 3 == 0 %}
                    <!-- Review card -->
                    <div class="col s12 m6 l4 left-review-card review-card" id="left-review-card">
                        <div class="card-panel center-align review-card-panel">
                            <!-- Game title -->
                            <p class="review-card-game-title">{{ review.game_title }}</p>
                            <div class="divider"></div>
            
                            <div class="content black-magenta glow">
                                <!-- Game image -->
                                <div class="card-image">
                                    <img src="{{ review.game_img_full }}"
                                        alt="" class="responsive-img z-depth-5">
                                </div>
                                <!-- Card content -->
                                <div class="card-content">
                                    <!-- Username -->
                                    <p class="review-card-username">
                                        {{ review.username|capitalize }} | <span style="color: #ff3d00">{{ review.date_submitted }}</span>
                                    </p>
                                    <!-- Summary -->
                                    <p class="summary">
                                        {{ review.summary }}
                                    </p>
                                    <!-- Full review -->
                                    <ul class="collapsible popout">
                                        <li>
                                            <div class="collapsible-header"><i class="fas fa-gamepad"></i>Gameplay</div>
                                            <div class="collapsible-body"><span>{{ review.gameplay }}</span></div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header"><i class="fas fa-eye"></i>Visuals</div>
                                            <div class="collapsible-body"><span>{{ review.visuals }}</span></div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header"><i class="fas fa-music"></i>Sound</div>
                                            <div class="collapsible-body"><span>{{ review.sound }}</span></div>
                                        </li>
                                    </ul>
                                    {% if review.recommended == "yes" %}
                                        <div class="card-panel light-blue accent-3 review-card-sticker">
                                            <span>
                                                <h6>Postive <i class="material-icons">thumb_up</i></h6>
                                            </span>
                                        </div>
                                    {% elif review.recommended == "no" %}
                                        <div class="card-panel red accent-4 darken-3 review-card-sticker">
                                            <span>
                                                <h6>Negative <i class="material-icons">thumb_down</i></h6>
                                            </span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <!-- Review card -->
                    <div class="col s12 m6 l4 review-card">
                        <div class="card-panel center-align review-card-panel">
                            <!-- Game title -->
                            <p class="review-card-game-title">{{ review.game_title }}</p>
                            <div class="divider"></div>
            
                            <div class="content black-magenta glow">
                                <!-- Game image -->
                                <div class="card-image">
                                    <img src="{{ review.game_img_full }}"
                                        alt="" class="responsive-img z-depth-5">
                                </div>
                                <!-- Card content -->
                                <div class="card-content">
                                    <!-- Username -->
                                    <p class="review-card-username">{{ review.username|capitalize }} | <span style="color: #ff3d00">{{ review.date_submitted }}</span></p>
                                    <!-- Summary -->
                                    <p class="summary">
                                        {{ review.summary }}
                                    </p>
                                    <!-- Full review -->
                                    <ul class="collapsible popout">
                                        <li>
                                            <div class="collapsible-header"><i class="fas fa-gamepad"></i>Gameplay</div>
                                            <div class="collapsible-body"><span>{{ review.gameplay }}</span></div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header"><i class="fas fa-eye"></i>Visuals</div>
                                            <div class="collapsible-body"><span>{{ review.visuals }}</span></div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header"><i class="fas fa-music"></i>Sound</div>
                                            <div class="collapsible-body"><span>{{ review.sound }}</span></div>
                                        </li>
                                    </ul>
                                    {% if review.recommended == "yes" %}
                                        <div class="card-panel light-blue accent-3 review-card-sticker">
                                            <span>
                                                <h6>Postive <i class="material-icons">thumb_up</i></h6>
                                            </span>
                                        </div>
                                    {% elif review.recommended == "no" %}
                                        <div class="card-panel red accent-4 darken-3 review-card-sticker">
                                            <span>
                                                <h6>Negative <i class="material-icons">thumb_down</i></h6>
                                            </span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

{% endblock %}