{% extends "base.html" %}
{% block content %}
    
    <!-- Media -->
    {% block media %}
        <section class="py-5">
            <h3 class="title carousel-title center">Today's Picks</h3>
            <div class="carousel carousel-slider center">
                <div class="carousel-item">
                    <a href="#"><img src="https://www.rockstargames.com/reddeadredemption2/dist/img/global/social/ea95b42f4d8029ac2510571cc8dbdae4.jpg"></a>
                </div>
                <div class="carousel-item">
                    <a href="#"><img src="https://cdn2.unrealengine.com/Diesel%2Fproductv2%2Fkingdom-come-deliverance%2Fhome%2FEGS_WarhorseStudios_KingdomComeDeliverance_S3-1360x766-1e8502930c6282cb34acf7add01c6832a5bc217e.jpg"></a>
                </div>
                <div class="carousel-item">
                    <a href="#"><img src="https://images6.alphacoders.com/107/thumb-1920-1072573.jpg"></a>
                </div>
            </div>
        </section>
    {% endblock %}

    <!-- Secondary Navbar -->
    <section class="py-5">
        <nav class="secondary-nav">

            <!-- Hamburger icon -->
            <a href="#" data-target="secondary-sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>

            <!-- Collapsible -->
            <ul class="collapsible">

                <div class="hide-on-med-and-down">

                    <!-- Standard Links -->
                    <li><a href="{{ url_for('favourites') }}" class="standard-link">Our Favourites</a></li>
                    <li><a href="#" class="standard-link">Award Winners</a></li>
                    {% if session.user %}
                    <li><a href="{{ url_for('profile_games', username=session['user']) }}" class="standard-link">Your List</a></li>
                    {% endif %}
                    
                    <!-- Platform -->
                    <li id="PlatformLink">
                        <div class="fixed-action-btn click-to-toggle">
                            <a class="standard-link">Platform</a>
                            <ul class="floating-nav">
                                <div class="items">
                                    <li class="tab"><a href="{{ url_for('pc_games') }}">PC</a></li>
                                    <li class="tab"><a href="{{ url_for('pc_games') }}">XBOX</a></li>
                                    <li class="tab"><a href="{{ url_for('pc_games') }}">Playstation</a></li>
                                </div>
                            </ul>
                        </div>
                    </li>

                    <!-- Genre -->
                    <li id="GenreLink">
                        <div class="fixed-action-btn click-to-toggle">
                            <a class="standard-link">Genre</a>
                            <ul class="floating-nav">
                                <div class="items">
                                    <li class="tab"><a href="{{ url_for('action_games') }}">Action</a></li>
                                    <li class="tab"><a href="{{ url_for('adventure_games') }}">Adventure</a></li>
                                    <li class="tab"><a href="{{ url_for('RPG_games') }}">RPG</a></li>
                                    <li class="tab"><a href="{{ url_for('strategy_games') }}">Strategy</a></li>
                                    <li class="tab"><a href="{{ url_for('multiplayer_games') }}">Multiplayer</a></li>
                                </div>
                            </ul>
                        </div>
                    </li>

                </div>

                <!-- Search bar -->

                {% block searchbar %}
                {% endblock %}

                <!-- All games link -->
                <div class="nav-content my-nav-extend"> 
                    <ul class="tabs">
                        <li class="tab"><a href="{{ url_for('pc_games') }}">All games</a></li>
                    </ul>
                </div>

            </ul>

        </nav>

        <!-- Mobile side nav -->
        <ul class="sidenav" id="secondary-sidenav">
            <li><a href="#!" class="sidenav-close right"><i class="material-icons white-text" style="margin: 0;">close</i></a></li>
            <li><a href="{{ url_for('pc_games') }}">Platform</a></li>
            <li><a href="{{ url_for('action_games') }}">Action</a></li>
            <li><a href="{{ url_for('adventure_games') }}">Adventure</a></li>
            <li><a href="{{ url_for('RPG_games') }}">RPG</a></li>
            <li><a href="{{ url_for('strategy_games') }}">Strategy</a></li>
            <li><a href="{{ url_for('multiplayer_games') }}">Multiplayer</a></li>
            <li><a href="{{ url_for('pc_games') }}">Award Winners</a></li>
            <li><a href="{{ url_for('favourites') }}">Our Favourites</a></li>
            <li><a href="{{ url_for('profile_games', username=session['user']) }}">Your List</a></li>
        </ul>
    </section>

    <!-- Sort nav and pagination -->
    <section id="sort-and-pagination-nav">
        <div class="row">
            <!-- Pagination --> 
            <div class="col s12 m6">
                <div class="pagination-top">
                    <ul class="pagination">
                       {% block pagination %}
                       {% endblock %}
                    </ul>
                </div>
            </div>
            <!-- Sort by features -->
            <div class="col s12 m6">
                <div class="sort-by right">
                    <!-- Select labels -->
                    <ul class="tabs tabs-transparent" id="sortNav-label">
                        <li class="tab" id="nav1">
                            <a>
                                <label for="navSelect1">Time</label>
                            </a>
                        </li>
                        <li class="tab" id="nav2">
                            <a>
                                <label for="navSelect2">Sort By</label>
                            </a>
                        </li>
                        <li class="tab" id="nav3">
                            <a>
                                <label for="navSelect3">Order</label>
                            </a>
                        </li>
                    </ul>
                    <!-- Select options -->
                    <ul class="tabs tabs-transparent" id="sortNav">
                        <li class="tab">
                            <a>
                                <select class="browser-default" class="browser-default" name="navSelect1" id="navSelect1">
                                    <option value="#">24hrs</option>
                                    <option value="#">7 days</option>
                                    <option value="#">30 days</option>
                                    <option value="#" selected>All Time</option>
                                </select>
                            </a>
                        </li>
                        <li class="tab">
                            <a>
                                <select class="browser-default" name="navSelect2" id="navSelect2">
                                    <option value="#" selected>Date Added</option>
                                    <a href="#"><option value="#">Likes</option></a>
                                    <option value="#">Playing</option>
                                    <option value="#">Review Count</option>
                                    <option value="#">Title</option>
                                    <option value="#">Genre</option>
                                </select>
                            </a>
                        </li>
                        <li class="tab">
                            <a>
                                <select class="browser-default" name="navSelect3" id="navSelect3">
                                    <option value="#">Asc</option>
                                    <option value="#" selected>Desc</option>
                                </select>
                            </a>
                        </li>
                        <li class="tab">
                            <a href="#">Likes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Games -->
    <section style="padding-top: 2.5rem;">

        {% block games %}
        {% endblock %}
    
    </section>

{% endblock %}