<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" type="text/css" 
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- Materialize CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom_fonts.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>my Next Game</title>
</head>
<body>
    <header>
        <!-- Navbar -->
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <!-- Navbar logo -->
                    <a href="{{ url_for('home') }}" class="brand-logo center">
                        <img src="{{ url_for('static', filename='img/odin_logo.png') }}" alt="Website/navbar brand logo">
                    </a>

                    {% if session.user %}
                    <!-- Desktop profile dropdown -->
                    <a href="{{ url_for('profile', username=session['user']) }}" data-target="desktop-profile" class="dropdown-trigger right hide-on-med-and-down" 
                    style="margin-right:25px;">
                        <i class="fas fa-user"></i>
                    </a>
                    {% endif %}

                    <!-- Mobile hamburger --> 
                    <a href="#" class="my-sidenav-trigger right hide-on-large-only"
                    style="margin-right:25px;">
                        <!-- <i class="fas fa-bars" style="font-size: 2.5rem"></i> -->
                        <div id="hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- Mobile profile -->
                    <a href="#" data-target="mobile-nav-profile" class="sidenav-trigger right" 
                    style="margin-right:20px;">
                        <i class="fas fa-user" style="font-size: 2.5rem"></i>
                    </a>

                    <!-- Genre Dropdown -->
                    <ul class="dropdown-content" id="GenreDropdown">
                        <li><a href="{{ url_for('action_games') }}">Action</a></li>
                        <li><a href="{{ url_for('adventure_games') }}">Adventure</a></li>
                        <li><a href="{{ url_for('RPG_games') }}">RPG</a></li>
                        <li><a href="{{ url_for('strategy_games') }}">Strategy</a></li>
                        <li><a href="{{ url_for('multiplayer_games') }}">Multiplayer</a></li>
                    </ul>
                
                    <ul class="left hide-on-med-and-down">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('pc_games') }}">Platform</a></li>
                        <li>
                            <a href="{{ url_for('pc_games') }}" class="dropdown-trigger" 
                            data-target="GenreDropdown">Genre</a>
                        </li>
                    </ul>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#">Community Reviews</a></li>
                        {% if not session.user %}
                            <li><a href="{{ url_for('login') }}">Log In</a></li>
                        {% endif %}
                    </ul>

                </div>
            </nav>
        </div>
        
        <!-- Desktop profile dropdown -->
        <ul class="dropdown-content" id="desktop-profile"  data-constrainwidth="false">
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        </ul>
    

        <!-- Profile mobile side-nav -->
        <ul class="sidenav" id="mobile-nav-profile">
            <li id="closeSideNav">
                <a href="#!"><i class="fas fa-times sidenav-close right"></i></a>
            </li>
            {% if session.user %}
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>

        <!-- Mobile side-navbar -->
        <ul class="my-sidenav" id="mobile-nav">
            <li><a href="{{ url_for('games') }}">Platform</a></li>
            <li><a href="{{ url_for('games') }}">Genre</a></li>
            <li><a href="#">Community Reviews</a></li>
        </ul>

    </header>

    <!-- Flash messages -->
    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <!-- Carousel -->
    <section class="py-5">
        <h3 class="title carousel-title center">Today's Picks</h3>
        <div class="carousel carousel-slider center">
            <div class="carousel-item">
                <a href="#"><img src="https://www.rockstargames.com/reddeadredemption2/dist/img/global/social/ea95b42f4d8029ac2510571cc8dbdae4.jpg"></a>
            </div>
            <div class="carousel-item">
                <a href="#"><img src="https://cdn2.unrealengine.com/Diesel%2Fproductv2%2Fkingdom-come-deliverance%2Fhome%2FEGS_WarhorseStudios_KingdomComeDeliverance_S3-1360x766-1e8502930c6282cb34acf7add01c6832a5bc217e.jpg"></a>
            </div>
            <div class="carousel-item">
                <a href="#"><img src="https://images6.alphacoders.com/107/thumb-1920-1072573.jpg"></a>
            </div>
        </div>
    </section>

    <!-- Secondary Navbar -->
    <section class="py-5">
        <nav class="secondary-nav">

            <!-- Collapsible -->
            <ul class="collapsible">
                <!-- Platform-->
                <li>
                    <a class="collapsible-header">Platform</a>
                    <div class="collapsible-body">
                        <div class="nav-content"> 
                            <ul class="tabs tabs-transparent">
                              <li class="tab"><a href="{{ url_for('pc_games') }}">PC</a></li>
                              <li class="tab"><a href="{{ url_for('pc_games') }}">XBOX</a></li>
                              <li class="tab"><a href="{{ url_for('pc_games') }}">Playstation</a></li>
                            </ul>
                          </div>
                    </div>
                </li>

                <!-- Genre -->
                <li>
                    <a class="collapsible-header">Genre</a>
                    <div class="collapsible-body">
                        <div class="nav-content"> 
                            <ul class="tabs tabs-transparent">
                                <li class="tab"><a href="{{ url_for('action_games') }}">Action</a></li>
                                <li class="tab"><a href="{{ url_for('adventure_games') }}">Adventure</a></li>
                                <li class="tab"><a href="{{ url_for('RPG_games') }}">RPG</a></li>
                                <li class="tab"><a href="{{ url_for('strategy_games') }}">Strategy</a></li>
                                <li class="tab"><a href="{{ url_for('multiplayer_games') }}">Multiplayer</a></li>
                            </ul>
                        </div>
                    </div>
                </li>

                <!-- Standard Links -->
                <li><a href="{{ url_for('pc_games') }}" class="standard-link">Bestsellers</a></li>
                <li><a href="#" class="standard-link">Award Winners</a></li>
                <li><a href="#" class="standard-link">Our Favourites</a></li>
                {% if session.user %}
                <li><a href="#" class="standard-link">Your List</a></li>
                {% endif %}

                <!-- All games link -->
                <div class="nav-content my-nav-extend"> 
                    <ul class="tabs">
                        <li class="tab"><a href="{{ url_for('pc_games') }}">All games</a></li>
                    </ul>
                </div>

            </ul>
        </nav>
    </section>
    
    <!-- Games -->
    <section style="padding-top: 5rem;">
        {% block content %}
        {% endblock %}
    </section>
    

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>