{% extends "games-template.html" %}

{% block games %}
    
    <!-- Review button -->
    <section>
        <div class="row">
            <div class="col" style="margin-left: 12.49999999995%">
                <a href="#" class="btn-large">Leave a Review</a>
            </div>
        </div>
    </section>

    <!-- Games -->
    <section>
        <div class="row">
            <!-- Review card -->
            <div class="col s12 m6 l3 left-review-card game-cards">
                <div class="card-panel center-align review-card-panel">
                    <!-- Game title -->
                    <p class="review-card-game-title">Red Dead Redemption</p>
                    <div class="divider"></div>
    
                    <div class="content black-magenta glow">
                        <!-- Game image -->
                        <div class="card-image">
                            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1174180/header.jpg?t=1606935465"
                                alt="" class="responsive-img z-depth-5">
                        </div>
                        <!-- Card content -->
                        <div class="card-content">
                            <!-- Username -->
                            <p class="review-card-username">Username</p>
                            <!-- Summary -->
                            <p class="summary">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Eveniet quasi soluta deleniti voluptatibus adipisci ipsam ratione voluptate omnis sunt?
                            </p>
                            <!-- Full review -->
                            <ul class="collapsible popout">
                                <li>
                                    <div class="collapsible-header"><i class="fas fa-gamepad"></i>Gameplay</div>
                                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                </li>
                                <li>
                                    <div class="collapsible-header"><i class="fas fa-eye"></i>Visuals</div>
                                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                </li>
                                <li>
                                    <div class="collapsible-header"><i class="fas fa-music"></i>Sound</div>
                                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                </li>
                            </ul>
                            <div class="card-panel light-blue accent-3 review-card-sticker">
                                <span>
                                    <h6>Postive <i class="material-icons">thumb_up</i></h6>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Review card -->
            <div class="col s12 m6 l3 game-cards">
                <div class="card-panel center-align review-card-panel">
                    <!-- Game title -->
                    <p class="review-card-game-title">Remothered</p>
                    <div class="divider"></div>
    
                    <div class="content black-magenta glow">
                        <!-- Game image -->
                        <div class="card-image">
                            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1142390/header.jpg?t=1610739278"
                                alt="" class="responsive-img z-depth-5">
                        </div>
                        <!-- Card content -->
                        <div class="card-content">
                            <!-- Username -->
                            <p class="review-card-username">Username</p>
                            <!-- Summary -->
                            <p class="summary">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Eveniet quasi soluta deleniti voluptatibus adipisci ipsam ratione voluptate omnis sunt?
                            </p>
                            <!-- Full review -->
                            <ul class="collapsible popout">
                                <li>
                                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>Gameplay</div>
                                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                </li>
                                <li>
                                    <div class="collapsible-header"><i class="material-icons">place</i>Visuals</div>
                                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                </li>
                                <li>
                                    <div class="collapsible-header"><i class="material-icons">place</i>Sound</div>
                                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                </li>
                            </ul>
                            <!-- Verdict -->
                            <div class="card-panel red accent-4 darken-3red accent-4 darken-3 review-card-sticker">
                                <span>
                                    <h6>Negative <i class="material-icons">thumb_down</i></h6>
                                </span>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
    
            <!-- Review card -->
            <div class="col s12 m6 l3 game-cards">
                <div class="card-panel center-align review-card-panel">
                    <!-- Game title -->
                    <p class="review-card-game-title">Cyberpunk</p>
                    <div class="divider"></div>
    
                    <div class="content black-magenta glow">
    
                        <!-- Game image -->
                        <div class="card-image">
                            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1091500/header.jpg?t=1611573739"
                                alt="" class="responsive-img z-depth-5">
                        </div>
                        <!-- Card content -->
                        <div class="card-content">
                            <!-- Username -->
                            <p class="review-card-username">Username</p>
                            <!-- Summary -->
                            <p class="summary">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Eveniet quasi soluta deleniti voluptatibus adipisci ipsam ratione voluptate omnis sunt?
                            </p>
                            <!-- Full review -->
                            <ul class="collapsible popout">
                                <li>
                                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>Gameplay</div>
                                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                </li>
                                <li>
                                    <div class="collapsible-header"><i class="material-icons">place</i>Visuals</div>
                                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                </li>
                                <li>
                                    <div class="collapsible-header"><i class="material-icons">place</i>Sound</div>
                                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                </li>
                            </ul>
                            <div class="card-panel deep-orange review-card-sticker">
                                <span>
                                    <h6>Mixed <i class="fas fa-blender"></i></h6>
                                </span>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
    
        </div>
    </section>

{% endblock %}