{% extends "base.html" %}
{% block content %}
    
    <!-- Carousel -->
    <section class="py-5">
        <h3 class="title carousel-title center">Today's Picks</h3>
        <div class="carousel carousel-slider center">
            <div class="carousel-item">
                <a href="#"><img src="https://www.rockstargames.com/reddeadredemption2/dist/img/global/social/ea95b42f4d8029ac2510571cc8dbdae4.jpg"></a>
            </div>
            <div class="carousel-item">
                <a href="#"><img src="https://cdn2.unrealengine.com/Diesel%2Fproductv2%2Fkingdom-come-deliverance%2Fhome%2FEGS_WarhorseStudios_KingdomComeDeliverance_S3-1360x766-1e8502930c6282cb34acf7add01c6832a5bc217e.jpg"></a>
            </div>
            <div class="carousel-item">
                <a href="#"><img src="https://images6.alphacoders.com/107/thumb-1920-1072573.jpg"></a>
            </div>
        </div>
    </section>

    <!-- Secondary Navbar -->
    <section class="py-5">
        <nav class="secondary-nav">

            <!-- Collapsible -->
            <ul class="collapsible">
                <!-- Platform-->
                <li>
                    <a class="collapsible-header">Platform</a>
                    <div class="collapsible-body">
                        <div class="nav-content"> 
                            <ul class="tabs tabs-transparent">
                              <li class="tab"><a href="{{ url_for('pc_games') }}">PC</a></li>
                              <li class="tab"><a href="{{ url_for('pc_games') }}">XBOX</a></li>
                              <li class="tab"><a href="{{ url_for('pc_games') }}">Playstation</a></li>
                            </ul>
                          </div>
                    </div>
                </li>

                <!-- Genre -->
                <li>
                    <a class="collapsible-header">Genre</a>
                    <div class="collapsible-body">
                        <div class="nav-content"> 
                            <ul class="tabs tabs-transparent">
                                <li class="tab"><a href="{{ url_for('action_games') }}">Action</a></li>
                                <li class="tab"><a href="{{ url_for('adventure_games') }}">Adventure</a></li>
                                <li class="tab"><a href="{{ url_for('RPG_games') }}">RPG</a></li>
                                <li class="tab"><a href="{{ url_for('strategy_games') }}">Strategy</a></li>
                                <li class="tab"><a href="{{ url_for('multiplayer_games') }}">Multiplayer</a></li>
                            </ul>
                        </div>
                    </div>
                </li>

                <!-- Standard Links -->
                <li><a href="{{ url_for('pc_games') }}" class="standard-link">Bestsellers</a></li>
                <li><a href="#" class="standard-link">Award Winners</a></li>
                <li><a href="#" class="standard-link">Our Favourites</a></li>
                {% if session.user %}
                <li><a href="#" class="standard-link">Your List</a></li>
                {% endif %}

                <!-- All games link -->
                <div class="nav-content my-nav-extend"> 
                    <ul class="tabs">
                        <li class="tab"><a href="{{ url_for('pc_games') }}">All games</a></li>
                    </ul>
                </div>

            </ul>
        </nav>
    </section>
    
    <!-- Games -->
    <section style="padding-top: 5rem;">

        {% block games %}
        {% endblock %}
    
    </section>

{% endblock %}