{% extends "games_template.html" %}

{% block content %}
    <section>
        <div class="row">

            {% for game in multiplayer_games %}

                {% if loop.index % 2 != 0 %}

                    <div class="col m12 l5 offset-l1" id="gameCard1">
                        <div class="card-panel black-magenta glow" style="padding: 20px">
                            <div class="card horizontal purple-linear-gradient glow grow">
                                <div class="card-image">
                                    <img src="{{ game.game_img_full }}" alt=""
                                        class="responsive-img activator">
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        {% if session.user %}
                                        <div class="container right" style="width:40px;">
                                            <a class="btn-floating pulse right waves-effect waves-light red accent-3">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </div>
                                        {% endif %}
                                        <div class="card-title activator">
                                            <span>
                                                {{ game.game_title }}
                                            </span>
                                        </div>
                                        <p class="grey-text">
                                            {{ game.platform_tags_pc|join('') }}
                                        </p>
                                        <p class="grey-text">
                                            XBOX, Playstation
                                        </p>
                                        <p class="grey-text">
                                            {{ game.game_top_tags|join('') }}
                                        </p>
                                    </div>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title">
                                        <strong>{{ game.game_title }}</strong>
                                        <i class="material-icons right">close</i>
                                    </span>
                                    <p>
                                        Here is some more information about
                                        this product that is only revealed once clicked on.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                {% else %}

                    <div class="col m12 l5" id="gameCard2">
                        <div class="card-panel black-magenta glow" style="padding: 20px">
                            <div class="card horizontal purple-linear-gradient glow grow">
                                <div class="card-image">
                                    <img src="{{ game.game_img_full }}" alt=""
                                        class="responsive-img activator">
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        {% if session.user %}
                                        <div class="container right" style="width:40px;">
                                            <a class="btn-floating pulse right waves-effect waves-light red accent-3">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </div>
                                        {% endif %}
                                        <div class="card-title activator">
                                            <span>
                                                {{ game.game_title }}
                                            </span>
                                        </div>
                                        <p class="grey-text">
                                            {{ game.platform_tags_pc|join('') }}
                                        </p>
                                        <p class="grey-text">
                                            XBOX, Playstation
                                        </p>
                                        <p class="grey-text">
                                            {{ game.game_top_tags|join('') }}
                                        </p>
                                    </div>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title">
                                        <strong>{{ game.game_title }}</strong>
                                        <i class="material-icons right">close</i>
                                    </span>
                                    <p>
                                        Here is some more information about
                                        this product that is only revealed once clicked on.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}

        </div>

        <ul class="pagination center-align">
            {{ pagination.links }}
        </ul>

    </section>

{% endblock %}