{% extends "profile-edit_template.html" %}
{% block edit_profile_content %}
<!-- Outer card -->
<div class="settings-title" style="margin-left: 10px;">
	<h3>Password Reset</h3>
</div>
<div class="card-panel" style="background-color: #210d35; padding: 0 24px;">
	<!-- ID -->
	<div class="user-id" style="padding-top: 10px;">
		<p>
			<strong>ID:</strong>
			<span>{{ user._id }}</span>
		</p>
	</div>
	<!-- Account name and display name -->
	<div class="row">
		<div class="col s12 m6">
			<h6>Account name:</h6>
			<h5>{{ user.username }}</h5>
		</div>
		<div class="col s12 m6">
			<h6>What everyone else sees:</h6>
			<div class="row">
				<div class="col s12">
					<h6 style="position: relative; margin-top: 0;">
						<img src="{{ user.avatar }}" alt="" style="width: 60px; height: 60px;">
						<span style="position: absolute; top: 20px; left: 65px;">{{ user.display_name }}</span>
					</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Form card -->
<div class="card-panel" style="background-color: #210d35;">
	<form action="{{ url_for('edit_password', username=session['user'], user=user) }}" method="POST" id="editPassword">
		<!-- Form inputs -->
		<div class="row">
			<div class="col s12">
				<div class="row">
					<!-- Password -->
					<div class="col s12">
						<div class="col s10 input-field">
							<input id="password" name="password" type="password" class="validate" required>
							<label for="password">Password</label>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- Change password -->
					<div class="col s12">
						<div class="col s10 input-field">
							<input id="change-password" name="change-password" type="password" minlength="6"
								maxlength="15" pattern="^[a-zA-Z0-9]{6,15}$" class="validate" required>
							<label for="change-password">Change Password</label>
						</div>
					</div>
					<!-- Confirm new password -->
					<div class="col s12">
						<div class="col s10 input-field">
							<input id="confirm-new-password" name="confirm-new-password" type="password" minlength="6"
								maxlength="15" pattern="^[a-zA-Z0-9]{6,15}$" class="validate" required>
							<label for="confirm-new-password">Re-enter New Password</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m4 l3">
				<button type="submit" class="btn">Change Password</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}