{% extends "base.html" %}
{% block content %}
    
    <div class="row">
        <form class="col s12 m10 offset-m1 l6 offset-l3" method="" action="">
            <!-- Outer card -->
            <div class="card-panel" style="background-color: #5b0bad;">
                <!-- Inner card -->
                <div class="card-panel grey-text text-lighten-2" style="background-color: #30134d;">
                    <!-- Back button -->
                    <a href="{{ url_for('profile_games', username=session['user']) }}" class="btn" 
                    style="background-color: #c41cce;">
                        <i class="material-icons">arrow_back</i>
                    </a>
                    <!-- Site logo -->
                    <div class="col s12 center-align">
                        <img src="{{ url_for('static', filename='img/odin_logo.png') }}" alt="" style="width:100px; height:100px;">
                    </div>
                    <!-- Form title -->
                    <h3 class="text-lighten-1 account-title py-5 center-align">Edit Your Game List</h3>
    
                    <!-- General -->
                    <div class="card-panel" style="background-color: #622d83;">
                        <!-- Game title search -->
                        <div class="row">
                            <div class="input-field col s12 m8 offset-m2">
                                <i class="material-icons prefix">search</i>
                                <input type="text" id="search-game-title" class="autocomplete" required>
                                <label for="search-game-title" style="font-size: 18px;">Game Title</label>
                            </div>
                        </div>
                        <!-- Platform select -->
                        <div class="row">
                            <div class="col s12 m8 offset-m2 input-field">
                                
                                <i class="fab fa-playstation prefix"></i>
                                <select id="platform-select" name="platform-select" required>
                                    <optgroup label="PC">
                                        <option value="1">Windows</option>
                                        <option value="1">Mac</option>
                                        <option value="2">Linux</option>
                                        <option value="2">Steam</option>
                                    </optgroup>
                                    <optgroup label="Console">
                                        <option value="3">XBOX</option>
                                        <option value="4" selected>Playstation</option>
                                        <option value="4">Nintendo</option>
                                    </optgroup>
                                </select>
                                <label for="platform-select" style="font-size: 18px;">Platform</label>
                            </div>
                        </div>
                        <!-- Summary -->
                        <div class="row">
                            <div class="col s12 m8 offset-m2 input-field">
                                <i class="material-icons prefix">mode_edit</i>
                                <textarea id="summary" name="summary" class="materialize-textarea"
                                data-length="145" minlength="10" maxlength="145" required></textarea>
                                <label for="summary">Review Summary</label>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </form>
    </div>

{% endblock %}