{% extends "base.html" %}
{% block content %}
    
    <section id="Profile">
        <div class="row py-5">
            <!-- Profile Card -->
            <div class="card-panel profile-base-card grey-text text-lighten-4 col s12 m10 offset-m1 l11 xl9 offset-xl2" id="ProfileCard">
                <!-- Header -->
                <div class="row profile-header">
                    <!-- Username -->
                    <div class="col s12 l6 header-username">
                        <h2>{{ username|capitalize }}'s Profile</h2>
                    </div>
                    <!-- Avatar -->
                    <div class="row hide-on-large-only">
                        <div class="col s12">
                            <img src="{{ url_for('static', filename='img/avatars/arthur-avatar.jpg') }}" alt="user's avatar" class="profile-avatar">
                        </div>
                    </div>
                    <!-- Edit profile -->
                    <div class="row">
                        <div class="col s12">
                            <a href="#" class="btn hide-on-large-only" id="editBtn">Edit Profile</a>
                        </div>
                    </div>
                    <!-- Profile rank -->
                    <div class="col s12 l6 rank">
                        <h5>Profile Rank 1</h5>
                    </div>
                </div>
                <!-- Divider -->
                <div class="divider"></div>
                <!-- Buttons -->
                <div class="card-panel profile-card-panel col s12 l2 right" id="ProfileSidePanel">
                    <!-- Avatar and username -->
                    <div class="row hide-on-med-and-down side-panel-avatar">
                        <div class="row">
                            <div class="col right">
                                <img src="{{ url_for('static', filename='img/avatars/arthur-avatar.jpg') }}" alt="user's avatar" class="profile-avatar">
                            </div>
                        </div>
                       <div class="row">
                            <div class="col right">
                                <h5 style="margin-top: 0; margin-right: 10px; font-size: 18px;">{{ username|capitalize }}</h5>
                            </div>
                       </div>
                    </div>
                    <div class="divider hide-on-med-and-down"></div>
                    <!-- Navigation buttons -->
                    <ul class="profile-btns">
                        <div class="row">
                            <!-- Edit profile -->
                            <li class="col s12 hide-on-med-and-down">
                                <a href="#" class="btn">Edit Profile</a>
                            </li>
                            <div class="divider hide-on-med-and-down"></div>
                            <!-- Navigation -->
                            <!-- Games-->
                            <li class="col s3 l12" id="firstItem">
                                <a class="btn" href="{{ url_for('profile_games', username=session['user']) }}">Games</a>
                            </li>
                            <div class="divider hide-on-med-and-down"></div>
                            <!-- Favourites -->
                            <li class="col s4 l12">
                                <a class="btn" href="#">Favourites</a>
                            </li>
                            <div class="divider hide-on-med-and-down"></div>
                            <!-- Reviews -->
                            <li class="col s3 l12">
                                <a class="btn" href="{{ url_for('profile_reviews', username=session['user']) }}">Reviews</a>
                            </li>
                        </div>
                    </ul>
                </div>
                <!-- Profile Content -->
                <div class="card-panel profile-card-panel col s12 l9" id="ProfileContentCard">
    
                    {% block profile_content %}
                    {% endblock %}
    
                </div>
            </div>
        </div>
    </section>

{% endblock %}