{% extends "profile-edit_template.html" %}
{% block edit_profile_content %}
    <!-- Outer card -->
    <div class="row card-panel profile-card-inner" style="margin: 15px;">
        <!-- Current avatar -->
        <div class="row card-panel profile-card-content" id="current-avatar">
            <div class="col s6 m6 l4">
                <div class="card-image">
                    {% for user in user_data %}
                        {% if user.username == session.user %}
                            <img src="{{ user.avatar }}" alt="User's current avatar">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col s6 m6 l8" id="avatar-text-indicator">
                <h6>Current Avatar</h6>
            </div>
        </div>
        <!-- New avatar selection -->
        <div class="row card-panel profile-card-content" id="avatar-selection">
            <!-- Heading -->
            <div class="row">
                <div class="col heading">
                    <h4>Available Avatars</h4>
                    <p>Select a new avatar for your profile</p>
                </div>
            </div>
            <!-- Avatars -->
            <div class="row all-avatars">
                {% for avatar in avatars %}
                    <div class="col s6 m4 l3 center-align">
                        <form action="{{ url_for('update_avatar', avatar_id=avatar._id) }}" method="POST">
                            <button type="submit" class="grow">
                                <img src="{{ avatar.img_path }}" alt="{{ avatar.img_alt }}" class="avatars">
                            </button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}