{% extends "profile-template.html" %}
{% block profile_content %}
    <section id="Profile-likes">
        <!-- Games -->
        <div class="row card-panel profile-card-inner">
            {% for game in games %}
                <!-- Large screens only -->
                <div class="card horizontal hide-on-med-and-down">
                    <div class="card-image profile-game-img">
                        <a href="{{ url_for('see_game_reviews', game_id=game.game_title) }}">
                            <img src="{{ game.game_img_full }}" alt="Image for {{ game.game_title }}">
                        </a>
                    </div>
                    <div class="card-stacked">
                        <!-- Game details -->
                        <div class="card-content">
                            <!-- Game title -->
                            <div class="card-title white-text">
                                <span>
                                    <a href="{{ url_for('see_game_reviews', game_id=game._id) }}" class="white-text">
                                        {{ game.game_title }}
                                    </a>
                                </span>
                            </div>
                            <!-- Game genre tags -->
                            <p class="grey-text text-lighten-2 game-tags">
                                {{ game.game_top_tags[:3]|join(', ') }}
                            </p>
                        </div>
                        <!-- Buttons -->
                        <div class="card-action">
                            <!-- Links -->
                            <div class="col s4 profile-game-btn">
                                <a href="#" class="btn-large dropdown-trigger" data-target="profileGameLinks{{loop.index}}">
                                    <i class="material-icons btn-icon-left">http</i>
                                    <span>Links</span>
                                    <i class="material-icons btn-icon-right">arrow_drop_down</i>
                                </a>
                            </div>
                            <!-- Reviews -->
                            <div class="col s4 profile-game-btn">
                                <a href="{{ url_for('see_game_reviews', game_id=game._id) }}" class="btn-large">
                                    <i class="fab fa-readme"></i>
                                    <span>Read Reviews</span>
                                </a>
                            </div>
                            <!-- Review -->
                            {% for match in matches if match == game.game_title %}
                                <div class="col s4 profile-game-btn btn-large reviewed">
                                    <i class="material-icons btn-icon-left">thumb_up</i>
                                    <span>Edit Review</span>
                                    <a href="{{ url_for('edit_review', game_id=game._id) }}" class="btn grow">
                                        <i class="fas fa-pen-square"></i>
                                    </a>
                                </div>
                            {% else %}
                                <div class="col s4 profile-game-btn">
                                    <a href="{{ url_for('submit_review', game_id=game.game_title) }}" class="btn-large">
                                        <i class="fas fa-pen-alt"></i>
                                        <span>Write Review</span>
                                    </a>    
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
        
                <!-- Medium screens and down -->
                <div class="card smaller hide-on-large-only">
                    <div class="card-image profile-game-img">
                        <a href="{{ url_for('see_game_reviews', game_id=game.game_title) }}">
                            <img src="{{ game.game_img_full }}" alt="Image for {{ game.game_title }}">
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            <span>
                                <a href="{{ url_for('see_game_reviews', game_id=game._id) }}" class="white-text">
                                    {{ game.game_title }}
                                </a>
                            </span>
                        </div>
                        <!-- Game genre tags -->
                        <p class="grey-text text-lighten-2 game-tags">
                            {{ game.game_top_tags[:3]|join(', ') }}
                        </p>
                    </div>
                    <div class="card-action">
                        <!-- Links -->
                        <div class="col s4 profile-game-btn">
                            <a href="#" class="btn-large dropdown-trigger" data-target="profileGameLinks{{loop.index}}-2">
                                <i class="material-icons btn-icon-left">http</i>
                                <span>Links</span>
                                <i class="material-icons btn-icon-right">arrow_drop_down</i>
                            </a>
                        </div>
                        <!-- Reviews -->
                        <div class="col s4 profile-game-btn-sm">
                            <a href="{{ url_for('see_game_reviews', game_id=game._id) }}" class="btn">
                                <i class="fab fa-readme"></i>
                                <span>Read Reviews</span>
                            </a>
                        </div>
                        <!-- Review -->
                        {% for match in matches if match == game.game_title %}
                            <div class="col s4 profile-game-btn-sm btn reviewed">
                                <i class="material-icons btn-icon-left">thumb_up</i>
                                <span>Edit Review</span>
                                <a href="{{ url_for('edit_review', game_id=game._id) }}" class="btn grow">
                                    <i class="fas fa-pen-square"></i>
                                </a>
                            </div>
                        {% else %}
                            <div class="col s4 profile-game-btn-sm">
                                <a href="{{ url_for('submit_review', game_id=game.game_title) }}" class="btn">
                                    <i class="fas fa-pen-alt"></i>
                                    <span>Write Review</span>
                                </a>    
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Links dropdown -->
                <ul class="dropdown-content profile-dropdown-links" id="profileGameLinks{{loop.index}}">
                    <li><a href="{{ game.game_link }}" target="_blank">Visit Steam Store Page</a></li>
                    {% if game.website != None %}<li><a href="{{ game.website }}" target="_blank">Visit Website</a></li>{% endif %}
                    {% if game.update_history != None %}<li><a href="{{ game.update_history }}" target="_blank">View Update History</a></li>{% endif %}
                    {% if game.related_news != None %}<li><a href="{{ game.related_news }}" target="_blank">Read Related News</a></li>{% endif %}
                    {% if game.discussions != None %}<li><a href="{{ game.discussions }}" target="_blank">View Discussons</a></li>{% endif %}
                    {% if game.community != None %}<li><a href="{{ game.community }}" target="_blank">Find Community Groups</a></li>{% endif %}
                </ul>
                <ul class="dropdown-content profile-dropdown-links" id="profileGameLinks{{loop.index}}-2">
                    <li><a href="{{ game.game_link }}" target="_blank">Visit Steam Store Page</a></li>
                    {% if game.website != None %}<li><a href="{{ game.website }}" target="_blank">Visit Website</a></li>{% endif %}
                    {% if game.update_history != None %}<li><a href="{{ game.update_history }}" target="_blank">View Update History</a></li>{% endif %}
                    {% if game.related_news != None %}<li><a href="{{ game.related_news }}" target="_blank">Read Related News</a></li>{% endif %}
                    {% if game.discussions != None %}<li><a href="{{ game.discussions }}" target="_blank">View Discussons</a></li>{% endif %}
                    {% if game.community != None %}<li><a href="{{ game.community }}" target="_blank">Find Community Groups</a></li>{% endif %}
                </ul>
            {% endfor %}
        </div>
    </section>
{% endblock %}