{% extends "profile-template.html" %}
{% block profile_content %}

    <!-- Currently Playing -->

    <!-- Title -->
    <div class="row card-panel profile-card-header" >
        <div class="valign-wrapper card-section-header">
            <div class="col s8">
                <h3>Currently Playing</h3>
            </div>
            <div class="col s2 edit-btn">
                <div class="center-align">
                    <a href="#"><i class="cog-icon fas fa-cog fa-3x"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Games -->
    <div class="row card-panel profile-card-content">
        <div class="valigin-wrapper">
            <!-- Image -->
            <div class="row">
                <div class="col s12 m12 l6">
                    <div class="card-image profile-game-img">
                        <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1174180/header.jpg?t=1606935465" alt="">
                    </div>
                </div>
                <!-- Title -->
                <div class="col m12 l6 profile-game-title">
                    <h5 class="center-align">Red Dead Redemption 2</h5>
                </div>
                <!-- Buttons -->
                <div class="card-content game-btns col m12 l6 left">
                    <!-- Links -->
                    <div class="col s4 btn-link">
                        <a href="#" class="btn-large dropdown-trigger" data-target="profileGameLinks1">
                            <i class="material-icons btn-icon-left">http</i>
                            <span style="font-size: 14px;">Links</span>
                            <i class="material-icons btn-icon-right">arrow_drop_down</i>
                        </a>
                    </div>
                    <!-- Review -->
                    <div class="col s4 btn-review">
                        <a href="#" class="btn-large">
                            <i class="material-icons btn-icon-left">thumb_up</i>
                            <span>Review</span>
                        </a>
                    </div>
                </div>

                <!-- Dropdown -->
                <ul class="dropdown-content profile-dropdown-links" id="profileGameLinks1">
                    <li><a href="#">Visit Game Page</a></li>
                    <li><a href="#">Visit Official Website</a></li>
                    <li><a href="#">Visit Steam Store Page</a></li>
                    <li><a href="#">Read Related Reviews</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row card-panel profile-card-content">
        <div class="valigin-wrapper">
            <!-- Image -->
            <div class="row">
                <div class="col s12 m12 l6">
                    <div class="card-image profile-game-img">
                        <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/261550/header.jpg?t=1608928062" alt="">
                    </div>
                </div>
                <!-- Title -->
                <div class="col m12 l6 profile-game-title" id=>
                    <h5 class="center-align">Red Dead Redemption 2</h5>
                </div>
                <div class="card-content game-btns col m12 l6 left">
                    <div class="col s4 btn-link">
                        <a href="#" class="btn-large">
                            <i class="material-icons btn-icon-left">http</i>
                            <span style="font-size: 14px;">Links</span>
                            <i class="material-icons btn-icon-right">arrow_drop_down</i>
                        </a>
                    </div>
                    <div class="col s4 btn-review">
                        <a href="#" class="btn-large">
                            <i class="material-icons btn-icon-left">thumb_up</i>
                            <span>Review</span>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <!-- Next in Line -->

    <!-- Title -->
    <div class="row card-panel profile-card-header">
        <div class="valign-wrapper card-section-header">
            <div class="col s8">
                <h3>Next In Line</h3>
            </div>
            <div class="col s2 edit-btn">
                <div class="center-align">
                    <a href="#"><i class="cog-icon fas fa-cog fa-3x"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Games -->
    
    {% for game in user_games %}

        {% if game.username == session.user %}
            <div class="row card-panel profile-card-content">
                <div class="valigin-wrapper">
                    <!-- Image -->
                    <div class="row">
                        <div class="col s12 m12 l6">
                            <div class="card-image profile-game-img">
                                <img src="{{ game.game_img_full }}" alt="">
                            </div>
                        </div>
                        <!-- Title -->
                        <div class="col m12 l6 profile-game-title" id=>
                            <h5 class="center-align">{{ game.game_title }}</h5>
                        </div>
                        <div class="card-content game-btns col m12 l6 left">
                            <div class="col s4 btn-link">
                                <a href="#" class="btn-large">
                                    <i class="material-icons btn-icon-left">http</i>
                                    <span style="font-size: 14px;">Links</span>
                                    <i class="material-icons btn-icon-right">arrow_drop_down</i>
                                </a>
                            </div>
                            <div class="col s4 btn-review">
                                <a href="#" class="btn-large">
                                    <i class="material-icons btn-icon-left">thumb_up</i>
                                    <span>Review</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>    
        {% endif %}

    {% endfor %}
    
    
    <!-- Completed -->

    <!-- Title -->
    <div class="row card-panel profile-card-header">
        <div class="valign-wrapper card-section-header">
            <div class="col s8">
                <h3>Completed</h3>
            </div>
            <div class="col s2 edit-btn">
                <div class="center-align">
                    <a href="#"><i class="cog-icon fas fa-cog fa-3x"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Games -->
    <div class="row card-panel profile-card-content">
        <div class="valigin-wrapper">
            <!-- Image -->
            <div class="row">
                <div class="col s12 m12 l6">
                    <div class="card-image profile-game-img">
                        <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/271590/header.jpg?t=1592866696" alt="">
                    </div>
                </div>
                <!-- Title -->
                <div class="col m12 l6 profile-game-title" id=>
                    <h5 class="center-align">Red Dead Redemption 2</h5>
                </div>
                <div class="card-content game-btns col m12 l6 left">
                    <div class="col s4 btn-link">
                        <a href="#" class="btn-large">
                            <i class="material-icons btn-icon-left">http</i>
                            <span style="font-size: 14px;">Links</span>
                            <i class="material-icons btn-icon-right">arrow_drop_down</i>
                        </a>
                    </div>
                    <div class="col s4 btn-review">
                        <a href="#" class="btn-large">
                            <i class="material-icons btn-icon-left">thumb_up</i>
                            <span>Review</span>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    


{% endblock %}