{% extends "base.html" %}
{% block content %}
    
    <div class="row center-align account-form">
        <form class="col s12 m10 offset-m1 l6 offset-l3" 
        method="POST" action="{{ url_for('register') }}">
            <div class="card-panel blue-grey darken-4 grey-text text-lighten-2">
                <!-- Logo -->
                <div class="col s12">
                    <img src="../static/img/odin_logo.png" alt="" style="width:100px; height:100px;">
                </div>
                <!-- Title -->
                <h3 class="text-lighten-1 account-title py-5">Create Your Account</h3>
                <!-- Username -->
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <input id="username" name="username" type="text" minlength="5" 
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- Email -->
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <input id="email" name="email" type="text" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                </div>
                <!-- Password -->
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <input id="password" name="password" type="password" minlength="6"
                        maxlength="15" pattern="^[a-zA-Z0-9]{6,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- Confirm Password -->
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <input id="confirmPassword" name="confirmPassword" type="password" minlength="6"
                        maxlength="15" pattern="^[a-zA-Z0-9]{6,15}$" class="validate" required>
                        <label for="confirmPassword">Confirm Password</label>
                    </div>
                </div>
                <!-- Register -->
                <div class="row">
                    <button type="submit" class="btn btn-large waves-effect waves-light cyan accent-4"
                    style="border-radius: 5px;">
                        Register
                    </button>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>
                            Already have an account with us? 
                            <a href="{{ url_for('login') }}">Log In</a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}