{% extends "base.html" %}
{% block content %}

    <!-- Carousel -->
    <div class="carousel carousel-slider center">
        <!-- Next -->
        <div class="carousel-fixed-item" id="carousel-next">
            <a class="white-text"><i class="material-icons">navigate_next</i></a>
        </div>
        <!-- Prev -->
        <div class="carousel-fixed-item" id="carousel-prev">
            <a class="white-text"><i class="material-icons">navigate_before</i></a>
        </div>
        <!-- Carousel item 1 -->
        <div class="carousel-item white-text" href="#">
            <img src="{{ rand_game_1.game_img_full }}" alt="carousel image" class="glow2">
            <h2>{{ rand_game_1.game_title }}</h2> 
            <p class="white-text">{{ rand_game_1.game_top_tags[:3]|join(', ') }}</p>
        </div>
        <!-- Carousel item 2 -->
        <div class="carousel-item white-text" href="#">
            <img src="{{ rand_game_2.game_img_full }}" alt="carousel image" class="glow2">
            <h2>{{ rand_game_2.game_title }}</h2> 
            <p class="white-text">{{ rand_game_2.game_top_tags[:3]|join(', ') }}</p>
        </div>
        <!-- Carousel item 3 -->
        <div class="carousel-item white-text" href="#">
            <img src="{{ rand_game_3.game_img_full }}" alt="carousel image" class="glow2">
            <h2>{{ rand_game_3.game_title }}</h2> 
            <p class="white-text">{{ rand_game_3.game_top_tags[:3]|join(', ') }}</p>
        </div>
    </div>

    <!-- Secondary Navbar -->
    <section class="py-5">
        <nav class="secondary-nav">

            <!-- Hamburger icon -->
            <a href="#" data-target="secondary-sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>

            <!-- Collapsible -->
            <ul class="collapsible">

                <div class="hide-on-med-and-down">

                    <!-- Standard Links -->
                    <li><a href="#" class="standard-link">Our Favourites</a></li>
                    <li><a href="#" class="standard-link">Award Winners</a></li>
                    {% if session.user %}
                    <li><a href="#" class="standard-link">Your
                            List</a></li>
                    {% endif %}

                    <!-- Platform -->
                    <li id="PlatformLink">
                        <div class="fixed-action-btn click-to-toggle">
                            <a class="standard-link">Platform</a>
                            <ul class="floating-nav">
                                <div class="items">
                                    <li class="tab"><a href="{{ url_for('reviews_pc') }}">PC</a></li>
                                    <li class="tab"><a href="{{ url_for('reviews_xbox') }}">XBOX</a></li>
                                    <li class="tab"><a href="{{ url_for('reviews_playstation') }}">Playstation</a></li>
                                    <li class="tab"><a href="{{ url_for('reviews_nintendo') }}">Nintendo</a></li>
                                </div>
                            </ul>
                        </div>
                    </li>

                    <!-- Genre -->
                    <li id="GenreLink">
                        <div class="fixed-action-btn click-to-toggle">
                            <a class="standard-link">Genre</a>
                            <ul class="floating-nav">
                                <div class="items">
                                    <li class="tab"><a href="{{ url_for('reviews_action') }}">Action</a></li>
                                    <li class="tab"><a href="{{ url_for('reviews_adventure') }}">Adventure</a></li>
                                    <li class="tab"><a href="{{ url_for('reviews_RPG') }}">RPG</a></li>
                                    <li class="tab"><a href="{{ url_for('reviews_strategy') }}">Strategy</a></li>
                                    <li class="tab"><a href="{{ url_for('reviews_multiplayer') }}">Multiplayer</a></li>
                                </div>
                            </ul>
                        </div>
                    </li>

                </div>

                <!-- Search bar -->

                <li class="right">
                    <form action="{{ url_for('search_reviews') }}" method="post" id="searchbar">
                        <div class="input-field">
                            <i class="material-icons prefix">search</i>
                            <input type="text" id="review-query" name="review-query" class="autocomplete validate" required>
                            <label for="review-query">Game Title</label>
                        </div>
                    </form>
                </li>

                <!-- All games link -->
                <div class="nav-content my-nav-extend">
                    <ul class="tabs">
                        <li class="tab"><a href="{{ url_for('reviews') }}">All reviews</a></li>
                    </ul>
                </div>

            </ul>

        </nav>

        <!-- Mobile side nav -->
        <ul class="sidenav" id="secondary-sidenav">
            <li><a href="#!" class="sidenav-close right"><i class="material-icons white-text"
                        style="margin: 0;">close</i></a></li>
            <li><a href="#">Platform</a></li>
            <li><a href="{{ url_for('reviews_action') }}">Action</a></li>
            <li><a href="{{ url_for('reviews_adventure') }}">Adventure</a></li>
            <li><a href="{{ url_for('reviews_RPG') }}">RPG</a></li>
            <li><a href="{{ url_for('reviews_strategy') }}">Strategy</a></li>
            <li><a href="{{ url_for('reviews_multiplayer') }}">Multiplayer</a></li>
            <li><a href="#">Award Winners</a></li>
            <li><a href="#">Our Favourites</a></li>
            <li><a href="#">Your List</a></li>
        </ul>
    </section>

    <!-- Sort nav and pagination -->
    <section id="sort-and-pagination-nav">
        <div class="row">
            <!-- Pagination -->
            <div class="col s12 m6">
                <div class="pagination-top">
                    <ul class="pagination">
                        {{ pagination.links }}
                    </ul>
                </div>
            </div>
            <!-- Sort by features -->
            <div class="col s12 m6">
                <div class="sort-by right">
                    <!-- Select labels -->
                    <ul class="tabs tabs-transparent" id="sortNav-label">
                        <li class="tab" id="nav1">
                            <a>
                                <label for="reviewSort1">Sort By</label>
                            </a>
                        </li>
                        <li class="tab" id="nav2">
                            <a>
                                <label for="reviewSort2">Order</label>
                            </a>
                        </li>
                    </ul>
                    <!-- Select options -->

                    <form action="{{ url_for('set_review_cookies') }}" method="POST">
                        <ul class="tabs tabs-transparent" id="sortNav">
                            <li class="tab">
                                <a>
                                    <select class="browser-default" name="reviewSort1" id="reviewSort1"
                                        value="{{ reviewSort1 }}">
                                        <option value="date" {% if reviewSort1=="date" %} selected="selected" {% endif %}>Date Added</option>
                                        <option value="title" {% if reviewSort1=="title" %} selected="selected" {% endif %}>Title</option>
                                        <option value="rating" {% if reviewSort1=="rating" %} selected="selected" {% endif %}>Rating</option>
                                    </select>
                                </a>
                            </li>
                            <li class="tab">
                                <a>
                                    <select class="browser-default" name="reviewSort2" id="reviewSort2"
                                        value="{{ reviewSort2 }}">
                                        <option value="asc" {% if reviewSort2=="asc" %} selected="selected" {% endif %}>Asc</option>
                                        <option value="desc" {% if reviewSort2=="desc" %} selected="selected" {% endif %}>Desc</option>
                                    </select>
                                </a>
                            </li>
                            <li class="tab">
                                <a style="line-height: 10px;">
                                    <button type="submit" class="btn" id="filterBtn">Filter Results</button>
                                </a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Games -->
    <main style="padding-top: 2.5rem;">
        <!-- Review button -->
        <section>
            <div class="row">
                <div class="col" style="margin-left: 12.49999999995%">
                    {% if not session.user %}
                        <a href="#!" class="btn-large tooltipped" data-position="top" data-tooltip="Please sign in or register an account with us to submit reviews">Leave a Review</a>
                    {% else %}
                        <a href="{{ url_for('submit_review') }}" class="btn-large">Leave a Review</a>
                    {% endif %}
                </div>
            </div>
        </section>

        <!-- Reviews -->
        {% block reviews %}
        {% endblock %}
    </main>

{% endblock %}