{% extends "reviews-template.html" %}
{% block reviews %}
    <!-- Reviews -->
    <section>
        {% if game_reviews.count() == 0 %}
            <div class="row" id="noResults">
                <div class="col m12 l6 offset-l3">
                    <div class="card-panel black-magenta center-align white-text">
                        <div class="card-title">
                            <h4>Sorry, but we couldn't find what you're looking for</h4>
                        </div>
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='img/main/thinking_emoji.png') }}" alt="Thinking emoji">
                        </div>
                        <div class="divider"></div>
                        <p>
                            It's likely that we no one has left a review yet for the game you're looking for.
                            Or we may not have the game in our database yet. If that is the case then you can
                            request to have the game added to our database by clicking the button bellow.
                        </p>
                        {% if not session.user %}
                            <a href="#!" class="btn tooltipped" data-position="top" data-tooltip="Please sign in or register an account with us to request games">Request A Game</a>
                        {% else %}
                            <a href="{{ url_for('request_game') }}" class="btn">Request A Game</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
        <div class="row" id="reviewCards">
            {% for review in game_reviews %}
                {% if loop.index % 3 != 0 %}
                    <!-- Review card -->
                    <div class="col s12 m6 l4 review-card" id="{{ 'left-review-card' if loop.index0 % 3 == 0 }}">
                        <div class="card-panel center-align review-card-panel">
                            <!-- Game title -->
                            <p class="review-card-game-title">{{ review.game_title }}</p>
                            <div class="divider"></div>

                            <div class="content black-magenta glow">
                                <!-- Game image -->
                                <div class="card-image">
                                    <a href="{{ url_for('see_game_reviews', game_id=review.game_title) }}">
                                        <img src="{{ review.game_img_full }}" alt="Game image for {{ review.game_title }}" class="responsive-img z-depth-5">
                                    </a>
                                    <!-- Edit button -->
                                    {% if session.user == review.username %}
                                        <a href="{{ url_for('edit_review', username=review.username, review_id=review._id) }}" class="btn edit-review">
                                            <i class="fas fa-pen-alt"></i>
                                        </a>
                                    {% endif %}
                                </div>
                                <!-- Card content -->
                                <div class="card-content">
                                    <!-- Username -->
                                    <p class="review-card-username">
                                        <a href="{{ url_for('profiles', user=review.username) }}" class="username">
                                            {% if review.display_name %}
                                                {{ review.display_name }}
                                            {% else %}
                                                {{ review.username|capitalize }}
                                            {% endif %}
                                        </a>
                                        |
                                        <span style="color: #ff3d00">
                                            {% if review.last_updated %}
                                            Last Updated: {{ review.last_updated }}
                                            {% else %}
                                            {{ review.date_submitted }}
                                            {% endif %}
                                        </span>
                                    </p>
                                    <!-- Platform -->
                                    <p class="platform">
                                        {% if review.platform == "xbox" %}
                                            Platform: {{ review.platform|upper }}
                                        {% else %}
                                            Platform: {{ review.platform|capitalize }}
                                        {% endif %}
                                    </p>
                                    <div class="divider"></div>
                                    <!-- Summary -->
                                    <p class="summary">
                                        {{ review.summary }}
                                    </p>
                                    <!-- Full review -->
                                    <ul class="collapsible popout">
                                        <li>
                                            <div class="collapsible-header" style="position: relative;">
                                                <i class="fas fa-gamepad"></i>
                                                Gameplay 
                                                <!-- Star rating -->
                                                <div class="star-rating">
                                                    <!-- 1 star rating -->
                                                    {% if review.gameplay_rating == 1 %}
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                    {% endif %}
                                                    <!-- 2 star rating -->
                                                    {% if review.gameplay_rating == 2 %}
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                    {% endif %}
                                                    <!-- 3 star rating -->
                                                    {% if review.gameplay_rating == 3 %}
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                    {% endif %}
                                                    <!-- 4 star rating -->
                                                    {% if review.gameplay_rating == 4 %}
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                    {% endif %}
                                                    <!-- 5 star rating -->
                                                    {% if review.gameplay_rating == 5 %}
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="collapsible-body"><span>{{ review.gameplay }}</span></div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header">
                                                <i class="fas fa-eye"></i>
                                                Visuals
                                                <!-- Star rating -->
                                                <div class="star-rating">
                                                    <!-- 1 star rating -->
                                                    {% if review.visuals_rating == 1 %}
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                    {% endif %}
                                                    <!-- 2 star rating -->
                                                    {% if review.visuals_rating == 2 %}
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                    {% endif %}
                                                    <!-- 3 star rating -->
                                                    {% if review.visuals_rating == 3 %}
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                    {% endif %}
                                                    <!-- 4 star rating -->
                                                    {% if review.visuals_rating == 4 %}
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                    {% endif %}
                                                    <!-- 5 star rating -->
                                                    {% if review.visuals_rating == 5 %}
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="collapsible-body"><span>{{ review.visuals }}</span></div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header">
                                                <i class="fas fa-music"></i>
                                                Sound
                                                <!-- Star rating -->
                                                <div class="star-rating">
                                                    <!-- 1 star rating -->
                                                    {% if review.sound_rating == 1 %}
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                    {% endif %}
                                                    <!-- 2 star rating -->
                                                    {% if review.sound_rating == 2 %}
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                    {% endif %}
                                                    <!-- 3 star rating -->
                                                    {% if review.sound_rating == 3 %}
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                    {% endif %}
                                                    <!-- 4 star rating -->
                                                    {% if review.sound_rating == 4 %}
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons black-text">star</i>
                                                    {% endif %}
                                                    <!-- 5 star rating -->
                                                    {% if review.sound_rating == 5 %}
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                        <i class="material-icons star-glow">star</i>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="collapsible-body"><span>{{ review.sound }}</span></div>
                                        </li>
                                    </ul>
                                    {% if review.recommended == "yes" %}
                                    <div class="card-panel light-blue accent-3 review-card-sticker">
                                        <span>
                                            <h6>Postive <i class="material-icons">thumb_up</i></h6>
                                        </span>
                                    </div>
                                    {% elif review.recommended == "no" %}
                                    <div class="card-panel red accent-4 darken-3 review-card-sticker">
                                        <span>
                                            <h6>Negative <i class="material-icons">thumb_down</i></h6>
                                        </span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <!-- Review card -->
                        <div class="col s12 m6 l4 review-card">
                            <div class="card-panel center-align review-card-panel">
                                <!-- Game title -->
                                <p class="review-card-game-title">{{ review.game_title }}</p>
                                <div class="divider"></div>

                                <div class="content black-magenta glow">
                                    <!-- Game image -->
                                    <div class="card-image">
                                        <a href="{{ url_for('see_game_reviews', game_id=review.game_title) }}">
                                            <img src="{{ review.game_img_full }}" alt="Game image for {{ review.game_title }}" class="responsive-img z-depth-5">
                                        </a>
                                        <!-- Edit button -->
                                        {% if session.user == review.username %}
                                            <a href="{{ url_for('edit_review', username=review.username, review_id=review._id) }}" class="btn edit-review">
                                                <i class="fas fa-pen-alt"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <!-- Card content -->
                                    <div class="card-content">
                                        <!-- Username -->
                                        <p class="review-card-username">
                                            <a href="{{ url_for('profiles', user=review.username) }}" class="username">
                                                {% if review.display_name %}
                                                    {{ review.display_name }}
                                                {% else %}
                                                    {{ review.username|capitalize }}
                                                {% endif %}
                                            </a>
                                            |
                                            <span style="color: #ff3d00">
                                                {% if review.last_updated %}
                                                Last Updated: {{ review.last_updated }}
                                                {% else %}
                                                {{ review.date_submitted }}
                                                {% endif %}
                                            </span>
                                        </p>
                                        <!-- Platform -->
                                        <p class="platform">
                                            {% if review.platform == "xbox" %}
                                                Platform: {{ review.platform|upper }}
                                            {% else %}
                                                Platform: {{ review.platform|capitalize }}
                                            {% endif %}
                                        </p>
                                        <div class="divider"></div>
                                        <!-- Summary -->
                                        <p class="summary">
                                            {{ review.summary }}
                                        </p>
                                        <!-- Full review -->
                                        <ul class="collapsible popout">
                                            <li>
                                                <div class="collapsible-header" style="position: relative;">
                                                    <i class="fas fa-gamepad"></i>
                                                    Gameplay 
                                                    <!-- Star rating -->
                                                    <div class="star-rating">
                                                        <!-- 1 star rating -->
                                                        {% if review.gameplay_rating == 1 %}
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                        {% endif %}
                                                        <!-- 2 star rating -->
                                                        {% if review.gameplay_rating == 2 %}
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                        {% endif %}
                                                        <!-- 3 star rating -->
                                                        {% if review.gameplay_rating == 3 %}
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                        {% endif %}
                                                        <!-- 4 star rating -->
                                                        {% if review.gameplay_rating == 4 %}
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                        {% endif %}
                                                        <!-- 5 star rating -->
                                                        {% if review.gameplay_rating == 5 %}
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="collapsible-body"><span>{{ review.gameplay }}</span></div>
                                            </li>
                                            <li>
                                                <div class="collapsible-header">
                                                    <i class="fas fa-eye"></i>
                                                    Visuals
                                                    <!-- Star rating -->
                                                    <div class="star-rating">
                                                        <!-- 1 star rating -->
                                                        {% if review.visuals_rating == 1 %}
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                        {% endif %}
                                                        <!-- 2 star rating -->
                                                        {% if review.visuals_rating == 2 %}
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                        {% endif %}
                                                        <!-- 3 star rating -->
                                                        {% if review.visuals_rating == 3 %}
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                        {% endif %}
                                                        <!-- 4 star rating -->
                                                        {% if review.visuals_rating == 4 %}
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                        {% endif %}
                                                        <!-- 5 star rating -->
                                                        {% if review.visuals_rating == 5 %}
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="collapsible-body"><span>{{ review.visuals }}</span></div>
                                            </li>
                                            <li>
                                                <div class="collapsible-header">
                                                    <i class="fas fa-music"></i>
                                                    Sound
                                                    <!-- Star rating -->
                                                    <div class="star-rating">
                                                        <!-- 1 star rating -->
                                                        {% if review.sound_rating == 1 %}
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                        {% endif %}
                                                        <!-- 2 star rating -->
                                                        {% if review.sound_rating == 2 %}
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                        {% endif %}
                                                        <!-- 3 star rating -->
                                                        {% if review.sound_rating == 3 %}
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                        {% endif %}
                                                        <!-- 4 star rating -->
                                                        {% if review.sound_rating == 4 %}
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons black-text">star</i>
                                                        {% endif %}
                                                        <!-- 5 star rating -->
                                                        {% if review.sound_rating == 5 %}
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                            <i class="material-icons star-glow">star</i>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="collapsible-body"><span>{{ review.sound }}</span></div>
                                            </li>
                                        </ul>
                                        {% if review.recommended == "yes" %}
                                        <div class="card-panel light-blue accent-3 review-card-sticker">
                                            <span>
                                                <h6>Postive <i class="material-icons">thumb_up</i></h6>
                                            </span>
                                        </div>
                                        {% elif review.recommended == "no" %}
                                        <div class="card-panel red accent-4 darken-3 review-card-sticker">
                                            <span>
                                                <h6>Negative <i class="material-icons">thumb_down</i></h6>
                                            </span>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
    </section>

    <!-- Pagination -->
    <ul class="pagination center-align">
        {{ pagination.links }}
    </ul>
{% endblock %}