{% extends "base.html" %}
{% block content %}

<section id="Profile">
    <div class="row py-5">
        <!-- Profile Card -->
        <div class="card-panel profile-base-card grey-text text-lighten-4 col s12 m10 offset-m1 l11 xl9 offset-xl2"
            id="ProfileCard">
            <!-- Header -->
            <div class="row profile-header">
                <!-- Username -->
                <div class="col s12 l6 header-username">
                    {% if "user_display_name" %}
                    {% if user_display_name == None %}
                    <h3>{{ username|capitalize }}'s Profile</h3>
                    {% else %}
                    <h3>{{ user_display_name }}'s Profile</h3>
                    {% endif %}
                    {% else %}
                    <h3>{{ username|capitalize }}'s Profile</h3>
                    {% endif %}
                </div>
                <!-- Avatar -->
                <div class="row hide-on-large-only">
                    <div class="col s12">
                        <img src="{{ user_avatar }}" alt="User's current avatar" class="profile-avatar">
                    </div>
                </div>
                <!-- Profile rank -->
                <div class="col s12 l6 rank">
                    <h6>Profile Rank {{rank}}</h6>
                </div>
            </div>
            <!-- Divider -->
            <div class="divider"></div>
            <!-- Buttons -->
            <div class="card-panel profile-card-panel col s12 l2 right" id="ProfileSidePanel">
                <!-- Avatar and username -->
                <div class="row hide-on-med-and-down side-panel-avatar">
                    <div class="row">
                        <div class="col right">
                            <img src="{{ user_avatar }}" alt="User's current avatar" class="profile-avatar">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col right">
                            <h5>
                                {% if "user_display_name" %}
                                {% if user_display_name == None %}
                                {{ username|capitalize }}'s Profile
                                {% else %}
                                {{ user_display_name }}'s Profile
                                {% endif %}
                                {% else %}
                                {{ username|capitalize }}'s Profile
                                {% endif %}
                            </h5>
                        </div>
                    </div>
                </div>
                <!-- Navigation buttons -->
                <ul class="profile-btns">
                    <div class="row">
                        <!-- Navigation -->
                        <!-- Games-->
                        <li class="col s4 l12">
                            <a href="{{ url_for('profiles', user=user) }}" class="btn">Games</a>
                        </li>
                        <!-- Likes -->
                        <li class="col s4 l12">
                            <a href="{{ url_for('profiles_likes', user=user) }}" class="btn">Likes</a>
                        </li>
                        <!-- Reviews -->
                        <li class="col s4 l12">
                            <a href="{{ url_for('profiles_reviews', user=user) }}" class="btn">Reviews</a>
                        </li>
                    </div>
                </ul>
            </div>
            <!-- Profile Content -->
            <div class="card-panel profile-card-panel col s12 l9" id="ProfileContentCard">

                {% block profile_content %}
                {% endblock %}

            </div>
        </div>
    </div>
</section>

{% endblock %}